.molecule {
    font-size: 15px;
    color: #5f5a5a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    &__block {
        margin-right: 30px;
    }
    &__img {
        width: 50px;
        img {
            width: 100%;
        }
    }
}